In [9]:
# Create CSV file from data
import pandas as pd
sample_dict={
                'id':[1,2,3,4,5,6],
                'name':['pratik','prachiti','samidha','sheetal','pooja','nishant'],
                'YOP':[2012,2020,2015,2019,2016,2018],
                'native':['aurangabad','pkd','aurangabad','parbhani','chopda','basmat'],
            }
friend=pd.DataFrame(sample_dict)
print(friend)

   id      name   YOP      native
0   1    pratik  2012  aurangabad
1   2  prachiti  2020         pkd
2   3   samidha  2015  aurangabad
3   4   sheetal  2019    parbhani
4   5     pooja  2016      chopda
5   6   nishant  2018      basmat

In [22]:
# save dataset in csv file 
import pandas as pd
sample_dict={
                'id':[1,2,3,4,5,6],
                'name':['pratik','prachiti','samidha','sheetal','pooja','nishant'],
                'YOP':[2012,2020,2015,2019,2016,2018],
                'native':['aurangabad','pkd','aurangabad','parbhani','chopda','basmat'],
            }
friend=pd.DataFrame(sample_dict)

df=friend.to_csv('friend.csv')
friend.to_excel('friend.xlsx')

In [19]:
# Slicing dataframe
import pandas as pd
df=pd.read_csv('E:\\Python\\dataset\\friend.csv')

print()
print('Head')
print()
print(df.head(3))

print()
print('Tail')
print()
print(df.tail(3))

Head

   Unnamed: 0  id      name   YOP      native
0           0   1    pratik  2012  aurangabad
1           1   2  prachiti  2020         pkd
2           2   3   samidha  2015  aurangabad

Tail

   Unnamed: 0  id     name   YOP    native
3           3   4  sheetal  2019  parbhani
4           4   5    pooja  2016    chopda
5           5   6  nishant  2018    basmat

In [32]:
# Merging dataset : combines/ selects only common rows (no of rows must be same, column can vary, all columns considered)
import pandas as pd

df1=pd.read_csv('E:\\Python\\dataset\\friend.csv')
df2=pd.read_csv('E:\\Python\\dataset\\fb_live_sellers.csv')

#print(df2.head(2))
#merge=pd.merge(df1,df2)
#print(merge.head(2))

df2=pd.DataFrame({
                #'id':[1,2,3,4,5,6],
                'name':['pratik','samidha','sheetal','Ujwal','nishant','nishant'],
                #'YOP':[2012,2020,2015,2019,2016,2018],
                'native':['aurangabad','aurangabad','parbhani','jalna','basmat','parbhani'],
                'hobby':['playing cricket','sketching','painting','reading','networking','dancing']
                })

merge=pd.merge(df1,df2)
print(merge.head(6))

   Unnamed: 0  id     name   YOP      native            hobby
0           0   1   pratik  2012  aurangabad  playing cricket
1           2   3  samidha  2015  aurangabad        sketching
2           3   4  sheetal  2019    parbhani         painting
3           5   6  nishant  2018      basmat       networking

In [36]:
'''
joining dataset : 
            done with index values
            NaN : Not a Number value added 
            Columns added to original df
            simply joins dataset 
            relation/ common columns are not required
'''
import pandas as pd

friend1 = pd.DataFrame({
                'id':[1,2,3,4,5,6],
                'name':['pratik','prachiti','samidha','sheetal','pooja','nishant'],
                'YOP':[2012,2020,2015,2019,2016,2018],
                'native':['aurangabad','pkd','aurangabad','parbhani','chopda','basmat'],
                #'hobby':['playing cricket','sketching','painting','reading','networking','dancing']
                    })
friend2 = pd.DataFrame({
                #'id':[1,2,3,4,5,6],
                #'name':['pratik','samidha','sheetal','Ujwal','nishant','nishant'],
                #'YOP':[2012,2020,2015,2019,2016,2018],
                #'native':['aurangabad','aurangabad','parbhani','jalna','basmat','parbhani'],
                'hobby':['playing cricket','sketching','painting','reading','networking','dancing']
                })

joined=friend2.join(friend1)
print(joined)

             hobby  id      name   YOP      native
0  playing cricket   1    pratik  2012  aurangabad
1        sketching   2  prachiti  2020         pkd
2         painting   3   samidha  2015  aurangabad
3          reading   4   sheetal  2019    parbhani
4       networking   5     pooja  2016      chopda
5          dancing   6   nishant  2018      basmat

In [45]:
# change index of dataset
# moves index column at location 0
import pandas as pd

friend = pd.DataFrame({
                'id':[1,2,3,4,5,6],
                'name':['pratik','prachiti','samidha','sheetal','pooja','nishant'],
                'YOP':[2012,2020,2015,2019,2016,2018],
                'native':['aurangabad','pkd','aurangabad','parbhani','chopda','basmat'],
                'hobby':['playing cricket','sketching','painting','reading','networking','dancing']
                    })
print(friend)
print()
print()
friend.set_index('YOP')
print(friend)
print()
print()
friend.set_index('YOP',inplace=True)
print(friend)

   id      name   YOP      native            hobby
0   1    pratik  2012  aurangabad  playing cricket
1   2  prachiti  2020         pkd        sketching
2   3   samidha  2015  aurangabad         painting
3   4   sheetal  2019    parbhani          reading
4   5     pooja  2016      chopda       networking
5   6   nishant  2018      basmat          dancing


   id      name   YOP      native            hobby
0   1    pratik  2012  aurangabad  playing cricket
1   2  prachiti  2020         pkd        sketching
2   3   samidha  2015  aurangabad         painting
3   4   sheetal  2019    parbhani          reading
4   5     pooja  2016      chopda       networking
5   6   nishant  2018      basmat          dancing


      id      name      native            hobby
YOP
2012   1    pratik  aurangabad  playing cricket
2020   2  prachiti         pkd        sketching
2015   3   samidha  aurangabad         painting
2019   4   sheetal    parbhani          reading
2016   5     pooja      chopda       networking
2018   6   nishant      basmat          dancing

In [47]:
# change column headers
# hobby to interest
import pandas as pd

friend = pd.DataFrame({
                'id':[1,2,3,4,5,6],
                'name':['pratik','prachiti','samidha','sheetal','pooja','nishant'],
                'YOP':[2012,2020,2015,2019,2016,2018],
                'native':['aurangabad','pkd','aurangabad','parbhani','chopda','basmat'],
                'hobby':['playing cricket','sketching','painting','reading','networking','dancing']
                    })
print(friend)
print()
print()
friend=friend.rename(columns={'hobby':'interest'})
print(friend)

   id      name   YOP      native            hobby
0   1    pratik  2012  aurangabad  playing cricket
1   2  prachiti  2020         pkd        sketching
2   3   samidha  2015  aurangabad         painting
3   4   sheetal  2019    parbhani          reading
4   5     pooja  2016      chopda       networking
5   6   nishant  2018      basmat          dancing


   id      name   YOP      native         interest
0   1    pratik  2012  aurangabad  playing cricket
1   2  prachiti  2020         pkd        sketching
2   3   samidha  2015  aurangabad         painting
3   4   sheetal  2019    parbhani          reading
4   5     pooja  2016      chopda       networking
5   6   nishant  2018      basmat          dancing

In [73]:
# dataset concatenation : added one after another
import pandas as pd

friend1 = pd.DataFrame({
                'id':[1,2,3,4,5,6],
                'name':['pratik','prachiti','samidha','sheetal','pooja','nishant'],
                'YOP':[2012,2020,2015,2019,2016,2018],
                'native':['aurangabad','pkd','aurangabad','parbhani','chopda','basmat'],
                'hobby':['playing cricket','sketching','painting','reading','networking','dancing']
                    },
                index=[1,2,3,4,5,6]
                    )
friend2 = pd.DataFrame(
                {
                'id':[1,2,3,4,5,6],
                'name':['pratik','samidha','sheetal','Ujwal','nishant','nishant'],
                'YOP':[2012,2020,2015,2019,2016,2018],
                'native':['aurangabad','aurangabad','parbhani','jalna','basmat','parbhani'],
                'hobby':['playing cricket','sketching','painting','reading','networking','dancing'],
                },
                index=[1,2,3,4,5,6]
                )

concat=pd.concat([friend2,friend1])
print(concat)

   id      name   YOP      native            hobby
1   1    pratik  2012  aurangabad  playing cricket
2   2   samidha  2020  aurangabad        sketching
3   3   sheetal  2015    parbhani         painting
4   4     Ujwal  2019       jalna          reading
5   5   nishant  2016      basmat       networking
6   6   nishant  2018    parbhani          dancing
1   1    pratik  2012  aurangabad  playing cricket
2   2  prachiti  2020         pkd        sketching
3   3   samidha  2015  aurangabad         painting
4   4   sheetal  2019    parbhani          reading
5   5     pooja  2016      chopda       networking
6   6   nishant  2018      basmat          dancing

In [55]:
# data munging
import pandas as pd

friend = pd.DataFrame({
                'id':[1,2,3,4,5,6],
                'name':['pratik','prachiti','samidha','sheetal','pooja','nishant'],
                'YOP':[2012,2020,2015,2019,2016,2018],
                'native':['aurangabad','pkd','aurangabad','parbhani','chopda','basmat'],
                'hobby':['playing cricket','sketching','painting','reading','networking','dancing']
                    })
print(friend)
html_friend=friend.to_html('html_friend.html')
excel_friend=friend.to_excel('excel_friend.xlsx')
print()
print()
print(html_friend)
print()
print()
print(excel_friend)
print()
print()

   id      name   YOP      native            hobby
0   1    pratik  2012  aurangabad  playing cricket
1   2  prachiti  2020         pkd        sketching
2   3   samidha  2015  aurangabad         painting
3   4   sheetal  2019    parbhani          reading
4   5     pooja  2016      chopda       networking
5   6   nishant  2018      basmat          dancing


None


None

In [80]:
#python for statistics
import pandas as pd

friend = pd.DataFrame({
                'id':[1,2,3,4,5,6],
                'name':['pratik','prachiti','samidha','sheetal','pooja','nishant'],
                'YOP':[2012,2020,2015,2019,2015,2018],
                'native':['aurangabad','pkd','aurangabad','parbhani','chopda','basmat'],
                'hobby':['playing cricket','sketching','painting','reading','networking','dancing']
                    })
print(friend)
print()
print()
print()
print('MEAN')
print(friend['YOP'].mean())
print()
print()
print('MEDIAN')
print(friend['YOP'].median())
print()
print()
print('MODE')
print(friend['YOP'].mode())
print()
print()
#print('VARIENCE')
#print(friend['YOP'].variance())

   id      name   YOP      native            hobby
0   1    pratik  2012  aurangabad  playing cricket
1   2  prachiti  2020         pkd        sketching
2   3   samidha  2015  aurangabad         painting
3   4   sheetal  2019    parbhani          reading
4   5     pooja  2015      chopda       networking
5   6   nishant  2018      basmat          dancing



MEAN
2016.5


MEDIAN
2016.5


MODE
0    2015
dtype: int64

In [ ]:
# python for Hadoop